<div class="container tex">
  <h1>FAQ</h1>

  <h2> Toute les réponses à vos questions </h2>

    <ul>
      <% @questions.each do |question| %>
      <li> <%= question%> </li>
      <% end %>
    </ul>

</div>
