<div class="container text-center">

  <h1>Le détails du produit</h1>

  <h2><%= @product.name %></h2>

  <h3>Catégorie : <%= @product.category %> </h3>

  <p>
    <%= link_to "Revenir à la liste", products_path, class: "btn btn-success" %>
  </p>

</div>
